#navigation(ng-class="{ active : vm.showNav }")

  button.menu-link(ng-click="vm.showNav = !vm.showNav")
    i.ion-navicon(ng-hide="vm.showNav")
    i.ion-ios-close-empty(ng-show="vm.showNav")

  ul#menu

    //- Logged out
    li
      a(href='#/' ng-click="vm.hide()") Find Job
    li(ng-hide="vm.loggedIn()")
      a(href='#/login' ng-click="vm.hide()") Login
    li(ng-hide="vm.loggedIn()")
      a(href='#/signup' ng-click="vm.hide()") Signup

    //- Logged in
    li(ng-show="vm.loggedIn()")
      a(href='#/jobs' ng-click="vm.hide()") My Jobs
    li(ng-show="vm.loggedIn()")
      a(href='#/new' ng-click="vm.hide()") New Job
    li(ng-show="vm.loggedIn()")
      a(href='' ng-click="vm.logout()") Logout


