#toolbarCC, #toolbarWC {
	display: none !important;
}

.btn-group {
	float: left;
}

.ta-hidden-input {
	display: none;
}

text-angular {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;

	.btn {
		float: left;
		padding:7px 11px;
	}
}

.ta-editor {
	margin-top: 10px;
	display: inline-block;
    width: 100%;
    border: 3px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 300px;
}
