
section.section-header
	.container

		.logo
			i.ion-ios-people
			h1 Purpose
			p Select a category below to find a career with a purpose

		form.home-category
			select(ng-model="vm.type" style="max-width:400px;" ng-change="vm.changeFeed()")
				option(value="") Select a category here...
				option(value="{{ category }}" ng-repeat="category in vm.categories") {{ category }}

section.section-body.clearfix
	.container

		a.frame(href="#/preview/{{ job.id }}" ng-repeat="job in vm.jobs")
			.image(style="background-image: url('{{ job.organisation_logo }}')")
			.padding
				h3.dark {{ job.role }}
				p {{ job.type }} at {{ job.organisation_name }} in {{ job.state }}
				p.app-close Applications close {{ job.finish | date }}


