.container.jobs

	header
		h1(ng-if="!vm.selected") Manage jobs
		h1(ng-if="vm.selected") Editing {{ vm.selected.name }}

	.jobs-feed(ng-if="!vm.selected")
		.third(ng-repeat="job in vm.jobs")
			.frame
				h2.dark {{ job.role }}
				p This job is for {{ job.type }} and application entry finished at {{ job.finish | date }}.
				button(ng-click="vm.select(job)") Edit
				button.light(ng-click="vm.delete(job)") Delete

		.third
			.frame.new
				h2.dark Create new job ad?
				a.button(href="/#/new") Get started!

	form.job-edit-form(name="jobForm" ng-submit="vm.update()" ng-if="vm.selected")
		include jobs.form.jade
		button.form-button(ng-disabled="jobForm.$invalid") Update
		button.light.form-button(ng-click="vm.selected = false;") Cancel
