.preview-description {
	article {
		width: 60%;
		float: left;
		box-sizing: border-box;
	}

	aside {
		width: 30%;display: inline-block;
		float: right;

		img {
			width: 100%;
		}
	}

	.section-body {
		margin-bottom: 40px;
	}
}


.preview-image {
	border-radius: 4px;
	border:3px solid white;
	box-shadow: 0 2px 1px 0 @mainColor;
	width: 100px;
}


.preview-header {

	height: auto;
    padding: 103px 0;


	h1 {
		margin-bottom: 0px;
	    margin-top: 20px;
	}
}
