section.section-header.preview-header
	.container
		img.preview-image(src="{{ vm.job.organisation_logo }}")
		h1 {{ vm.job.role }}
		p {{ vm.job.type }} at {{ vm.job.organisation_name }} in {{ vm.job.state }}

section.section-body.clearfix
	.container.preview-description

		article
			div(ng-bind-html="vm.job.description")

			h4 How to apply
			p {{ vm.job.apply_instructions }}

		aside

			h4 Details
			p
				b Company:
				|  {{ vm.job.organisation_name}}
				br
				b Category:
				|  {{ vm.job.category }}
				br
				b Application closes:
				|  {{ vm.job.finish | date }}
				br
				b Role:
				|  {{ vm.job.role }}
				br
				b Type:
				|  {{ vm.job.type }}

