section.section-header
	.container
		h1 {{ vm.job.role }}
		p {{ vm.job.type }} at {{ vm.job.organisation_name }} in {{ vm.job.state }}

section.section-body.clearfix
	.container.preview-description

		article
			p {{ vm.job.description}}




		aside
			img(src="{{ vm.job.organisation_logo }}")
			p.
				{{ vm.job.organisation_name}}


section
	.container
		.half
			h4 How to apply
			p {{ vm.job.apply_instructions }}

		.half
			button(style="float:right;") View campaigns like this